<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <title>Chessboard</title>
  <link href="{% static "chess_music/chessboard.css" %}" rel="stylesheet">
  <script src="{% static "chess_music/Tone.js" %}"></script>
</head>
<body>
<script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
<script>
  // Initialize Firebase

  var config = {
    apiKey: "AIzaSyBoFfC1va0c9vhgSbVntIWzDC-jtxVV6HI",
    authDomain: "chess-app-cbfb0.firebaseapp.com",
    databaseURL: "https://chess-app-cbfb0.firebaseio.com",
    projectId: "chess-app-cbfb0",
    storageBucket: "chess-app-cbfb0.appspot.com",
    messagingSenderId: "1089239373610"
  };
  firebase.initializeApp(config);

  var synth = new Tone.Sampler({
      'D#1' : 'Ds1.[mp3|ogg]',
      'F#1' : 'Fs1.[mp3|ogg]',
      'A1' : 'A1.[mp3|ogg]',
      'C2' : 'C2.[mp3|ogg]',
      'F#2' : 'Fs2.[mp3|ogg]',
      'A2' : 'A2.[mp3|ogg]',
      'C3' : 'C3.[mp3|ogg]',
      'D#3' : 'Ds3.[mp3|ogg]',
      'F#3' : 'Fs3.[mp3|ogg]',
      'A3' : 'A3.[mp3|ogg]',
      'C4' : 'C4.[mp3|ogg]',
      'D#4' : 'Ds4.[mp3|ogg]',
      'F#4' : 'Fs4.[mp3|ogg]',
      'A4' : 'A4.[mp3|ogg]',
      'C5' : 'C5.[mp3|ogg]',
      'D#5' : 'Ds5.[mp3|ogg]',
      'F#5' : 'Fs5.[mp3|ogg]',
      'A5' : 'A5.[mp3|ogg]',
      'C6' : 'C6.[mp3|ogg]',
      'D#6' : 'Ds6.[mp3|ogg]',
      'F#6' : 'Fs6.[mp3|ogg]',
      'A6' : 'A6.[mp3|ogg]',
      'C7' : 'C7.[mp3|ogg]',
      'D#7' : 'Ds7.[mp3|ogg]',
      'F#7' : 'Fs7.[mp3|ogg]',
      'A7' : 'A7.[mp3|ogg]',
      'C8' : 'C8.[mp3|ogg]'
    }, {
      'release' : 1,
      'baseUrl' : "{% static 'chess_music/audio/salamander/' %}"
    }).toMaster();

</script>
  <div id="board"></div>
  <script src="{% static "chess_music/chess.js" %}"></script>
  <script src="{% static "chess_music/chessboard.js" %}"></script>
  <script src="{% static "chess_music/app.js" %}"></script>
  <script>var stockfish = new Worker("{% static 'chess_music/stockfish.js' %}")</script> 


<style>
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
</style>

<div class="dropdown">
  <span>Chess Games</span>
  <div class="dropdown-content">
  </div>
</div>

<script>
var query = firebase.database().ref().orderByKey();
query.once("value")
  .then(function(snapshot) {
    snapshot.forEach(function(childSnapshot) {
      var key = childSnapshot.key;
      var childData = childSnapshot;
      console.log(childData.key)
      var para = document.createElement("p");
      var node = document.createTextNode(childData.key);
      para.appendChild(node);
  });
});
var element = document.getElementByClass("dropdown-content");
element.appendChild(para);
</script>



 




</body>
</html>



